@model IList<Scanner>
@{
    ViewData["Title"] = "Scanners";
}
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create New Scanner", "Create", "Scanners", null, new { @class = "btn btn-primary" })
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Localization</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scanner in Model)
        {
            <tr>
                <th scope="row">@scanner.Id</th>
                <td>@scanner.Name</td>
                <td>@scanner.Location</td>
                <td>@scanner.Description</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = scanner.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = scanner.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
